Chat Spec:

Name : ATT_DTV_Desk
Agent Line : Thank you for chatting with us today. The agent has left this conversation. Please continue to browse our website and use our self-service options.
Chat Theme : Thank you for chatting with us today. The agent has left this conversation. Please continue to browse our website and use our self-service options.
Script Tree : ATT-POC
Email Specification : ATT_Transcript
Autamated Agent Assignment : n/a
Queue MSG: MOB-Standard

ATT_DTV_Tablet
Agent Line : Thank you for chatting with us today. The agent has left this conversation. Please continue to browse our website and use our self-service options.
Chat Theme : Black-Tablet
Opening Script : MOB-Standard reactive. 
Script Tree : ATT-POC
Email Specification : ATT_Transcript
Autamated Agent Assignment : n/a
Queue MSG: MOB-Standard



<string-variable-ref var-id="ATT_DTV_Desk_Tab
ATT_DTV_Desk_Tab"/>

ATT_DTV_Desk_Tab
ATT_DTV_Tab
